<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.javaquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SplashActivityClock">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstQuestion" />
        <activity android:name=".SecondQuestion" />
        <activity android:name=".ThirdQuestion" />
        <activity android:name=".FourthQuestion" />
        <activity android:name=".FifthQuestion" />
        <activity android:name=".SixthQuestion" />
        <activity android:name=".SeventhQuestion" />
        <activity android:name=".EighthQuestion" />
        <activity android:name=".ActivityStart" />
        <activity android:name=".ActivityEnd" />
    </application>
</manifest>